on:
  workflow_call:
    inputs:
      node-version-file:
        required: false
        type: string
        default: ".nvmrc"
      package-manager:
        type: string
        required: false
        default: yarn
      pnpm-version:
        type: string
        required: false
        default: 7
      node-options:
        type: string
        required: false
        default: "--max_old_space_size=8192"
      slack-notify:
        type: boolean
        required: false
        default: false
      chanel-id:
        type: string
        required: false
        default: "smoke-test-notifications"

    secrets:
      NODE_AUTH_TOKEN:
        required: true
      SLACK_BOT_TOKEN:
        required: false

jobs:
  audit:
    runs-on: self-hosted

    steps:
      - name: Setup env
        uses: AstrumU/shared-workflows/.github/actions/setup@feature/KAN-259
        with:
          node-version-file: ${{ inputs.node-version-file }}
          package-manager: ${{ inputs.package-manager }}
          pnpm-version: ${{ inputs.pnpm-version }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          NODE_OPTIONS: ${{ inputs.node-options }}

      - name: Auditing
        id: audit
        uses: AstrumU/shared-workflows/.github/actions/audit@feature/KAN-259
        with:
          package-manager: ${{ inputs.package-manager }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          NODE_OPTIONS: ${{ inputs.node-options }}

      - name: Slack notify
        if: failure() && (steps.audit.conclusion == 'failure' || inputs.slack-notify == 'true')
        uses: AstrumU/shared-workflows/.github/actions/slack-notify@feature/KAN-259
        with:
          chanel-id: ${{ inputs.chanel-id }}
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
