on:
  workflow_call:
    inputs:
      node-version-file:
        required: false
        type: string
        default: ".nvmrc"
      package-manager:
        type: string
        required: false
        default: yarn
      cache-version:
        type: string
        required: false
        default: v1
      pnpm-version:
        type: string
        required: false
        default: 7
      node-options:
        type: string
        required: false
        default: "--max_old_space_size=8192"
      lock-file:
        type: string
        required: false
        default: "yarn.lock"
      # build-cache-hit:
      #   type: string
      #   required: false
      #   default: "pnpm-build-cache-hit"
    secrets:
      NODE_AUTH_TOKEN:
        required: true

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: "Get cache-hit"
        id: get-cache-hit
        shell: bash
        run: |
          if [ ${{ inputs.package-manager }} == 'yarn' ]; then 
            echo "cache-hit=yarn-build-cache-hit" >> $GITHUB_OUTPUT
          else
            echo "cache-hit=pnpm-build-cache-hit" >> $GITHUB_OUTPUT
          fi

      - name: Setup env
        uses: AstrumU/shared-workflows/setup@feature/KAN-240
        with:
          node-version-file: ${{ inputs.node-version-file }}
          package-manager: ${{ inputs.package-manager }}
          pnpm-version: ${{ inputs.pnpm-version }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          NODE_OPTIONS: ${{ inputs.node-options }}

      - name: Cache dependencies
        uses: AstrumU/shared-workflows/cache-dependencies@feature/KAN-240
        id: cache-dependencies
        with:
          package-manager: ${{ inputs.package-manager }}
          cache-version: ${{ inputs.cache-version }}
          lock-file: ${{ inputs.lock-file }}

      - name: Cache build
        id: cache-build
        uses: AstrumU/shared-workflows/cache-build@feature/KAN-240
        with:
          package-manager: ${{ inputs.package-manager }}

      - name: Build
        if: ${{ steps.cache-build.outputs.env.cache-hit != 'true' }}
        run: ${{ inputs.package-manager }} build:ts
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          NODE_OPTIONS: ${{ inputs.node-options }}
