on:
  workflow_call:
    inputs:
      nodeVersion:
        required: false
        type: string
        default: ".nvmrc"
      name:
        required: false
        type: string
      packageManager:
        type: string
        required: false
        default: yarn
      cacheVersion:
        type: string
        required: true
        default: v1
      pnpmVersion:
        type: string
        required: false
        default: 7.13.3
      nodeOptions:
        type: string
        required: false
        default: --max_old_space_size=8192 
    secrets:
      NODE_AUTH_TOKEN:
        required: true

jobs:
  dependencies:
    runs-on: self-hosted

    steps:
      - uses: AstrumU/shared-workflows/setup@feature/KAN-206
        name: setup env
        with:
          nodeVersion: ${{ inputs.nodeVersion }}
          packageManager: ${{ inputs.packageManager }}
          cacheVersion: ${{ inputs.cacheVersion }}
          pnpmVersion: ${{ inputs.pnpmVersion }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          NODE_OPTIONS: ${{ inputs.nodeOptions }}

  build:
    runs-on: self-hosted
    needs: dependencies

    steps:
      - uses: AstrumU/shared-workflows/setup@feature/KAN-206
        name: setup env
        with:
          nodeVersion: ${{ inputs.nodeVersion }}
          packageManager: ${{ inputs.packageManager }}
          cacheVersion: ${{ inputs.cacheVersion }}
          pnpmVersion: ${{ inputs.pnpmVersion }}
          nodeOptions: ${{inputs.nodeOptions}}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          NODE_OPTIONS: ${{ inputs.nodeOptions }}

      - name: Build
        id: build
        run: ${{ inputs.packageManager }} build:ts
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          NODE_OPTIONS: ${{ inputs.nodeOptions }}

      - uses: actions/cache@v3
        id: build-cache
        name: Save build cache
        with:
          path: |
            packages/**/dist
            packages/**/tsconfig.tsbuildinfo
          key: ${{ github.sha }}
