on:
  workflow_call:
    inputs:
      nodeVersion:
        required: true
        type: string
        default: ".nvmrc"
      name:
        required: false
        type: string
      packageManager:
        type: string
        required: false
        default: yarn
      cacheVersion:
        type: string
        required: false
        default: v11
      pnpmVersion:
        type: string
        required: false
        default: 7.13.3
      nodeOptions:
        type: string
        required: false
        default: --max_old_space_size=8192 
    secrets:
      natToken:
        required: true
    # env:
    #    NODE_OPTIONS: --max_old_space_size=8192

jobs:
  dependencies:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3
        name: Checkout

      - uses: AstrumU/shared-config/setup@feature/KAN-206
        name: setup env
        with:
          nodeVersion: ${{inputs.nodeVersion}}
          packageManager: ${{inputs.packageManager}}
          cacheVersion: ${{inputs.cacheVersion}}
          pnpmVersion: ${{inputs.pnpmVersion}}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.natToken }}
          # NODE_OPTIONS: ${{ env.NODE_OPTIONS }}

  build:
    runs-on: self-hosted
    needs: dependencies

    steps:
      - uses: actions/checkout@v3
        name: Checkout

      - uses: AstrumU/shared-config/setup@feature/KAN-206
        name: setup env
        with:
          nodeVersion: ${{inputs.nodeVersion}}
          packageManager: ${{inputs.packageManager}}
          cacheVersion: ${{inputs.cacheVersion}}
          pnpmVersion: ${{inputs.pnpmVersion}}
          nodeOptions: ${{inputs.nodeOptions}}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.natToken }}
          # NODE_OPTIONS: ${{ env.NODE_OPTIONS }}

      - name: Build
        run: pnpm run build:ts
        env:
          NODE_AUTH_TOKEN: ${{ secrets.natToken }}

      - uses: actions/cache@v3
        id: build-cache
        name: Save build cache
        with:
          path: ./*
          key: ${{ github.sha }}

  audit:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v3
        name: Checkout

      - uses: AstrumU/shared-config/setup@feature/KAN-206
        name: setup env
        with:
          nodeVersion: ${{inputs.nodeVersion}}
          packageManager: ${{inputs.packageManager}}
          cacheVersion: ${{inputs.cacheVersion}}
          pnpmVersion: ${{inputs.pnpmVersion}}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.natToken }}
          # NODE_OPTIONS: ${{ env.NODE_OPTIONS }}

      - uses: ./.github/workflows/audit
        name: Auditing
        env:
          NODE_AUTH_TOKEN: ${{ secrets.natToken }}
          # NODE_OPTIONS: ${{ env.NODE_OPTIONS }}

  depchecker:
    runs-on: self-hosted
    needs: dependencies

    steps:
      - uses: actions/checkout@v3
        name: Checkout

      - uses: AstrumU/shared-config/setup@feature/KAN-206
        name: setup env
        with:
          nodeVersion: ${{inputs.nodeVersion}}
          packageManager: ${{inputs.packageManager}}
          cacheVersion: ${{inputs.cacheVersion}}
          pnpmVersion: ${{inputs.pnpmVersion}}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.natToken }}
          # NODE_OPTIONS: ${{ env.NODE_OPTIONS }}

      - name: Depchecker
        run: pnpm run depchecker
        with:
          nodeOptions: ${{inputs.nodeOptions}}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.natToken }}
          # NODE_OPTIONS: ${{ env.NODE_OPTIONS }}

  lint:
    runs-on: self-hosted
    needs: build

    steps:
      - uses: actions/checkout@v3
        name: Checkout

      - uses: AstrumU/shared-config/setup@feature/KAN-206
        name: setup env
        with:
          nodeVersion: ${{inputs.nodeVersion}}
          packageManager: ${{inputs.packageManager}}
          cacheVersion: ${{inputs.cacheVersion}}
          pnpmVersion: ${{inputs.pnpmVersion}}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.natToken }}
          # NODE_OPTIONS: ${{ env.NODE_OPTIONS }}

      - uses: actions/cache@v3
        id: build-cache
        name: Restore build cache
        with:
          path: ./*
          key: ${{ github.sha }}

      - name: Lint
        run: pnpm run lint
        with:
          nodeOptions: ${{inputs.nodeOptions}}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.natToken }}
          # NODE_OPTIONS: ${{ env.NODE_OPTIONS }}
