on:
  workflow_call:
    inputs:
      nodeVersion:
        required: false
        type: string
        default: ".nvmrc"
      name:
        required: false
        type: string
      packageManager:
        type: string
        required: false
        default: yarn
      cacheVersion:
        type: string
        required: true
        default: v1
      pnpmVersion:
        type: string
        required: false
        default: 7
      nodeOptions:
        type: string
        required: false
        default: "--max_old_space_size=8192"
    secrets:
      NODE_AUTH_TOKEN:
        required: true

jobs:
  depchecker:
    runs-on: self-hosted

    steps:
      - uses: AstrumU/shared-workflows/setup@feature/KAN-240
        name: Setup env
        with:
          nodeVersion: ${{ inputs.nodeVersion }}
          packageManager: ${{ inputs.packageManager }}
          cacheVersion: ${{ inputs.cacheVersion }}
          pnpmVersion: ${{ inputs.pnpmVersion }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          NODE_OPTIONS: ${{ inputs.nodeOptions }}

      - name: Depchecker
        run: ${{ inputs.packageManager }} depchecker
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          NODE_OPTIONS: ${{inputs.nodeOptions}}
