on:
  workflow_call:
    inputs:
      node-version-file:
        required: false
        type: string
        default: ".nvmrc"
      package-manager:
        type: string
        required: false
        default: yarn
      cache-version:
        type: string
        required: false
        default: v1
      pnpm-version:
        type: string
        required: false
        default: 7
      node-options:
        type: string
        required: false
        default: "--max_old_space_size=8192"
      lock-file:
        type: string
        required: false
        default: "yarn.lock"
      args:
        type: string
        description: Additional flags to pass to the install command.
        default: "--frozen-lockfile"
        required: false
      # job:
      #   type: string
      #   required: false
      #   default: ${{ github.job }}
      slack-notify:
        type: boolean
        required: false
        default: false
      chanel-id:
        type: string
        required: false
        default: "smoke-test-notifications"
    secrets:
      NODE_AUTH_TOKEN:
        required: true
      SLACK_BOT_TOKEN:
        required: false

jobs:
  dependencies:
    runs-on: self-hosted

    steps:
      - name: Setup env
        uses: AstrumU/shared-workflows/.github/actions/setup@feature/KAN-259
        with:
          node-version-file: ${{ inputs.node-version-file }}
          package-manager: ${{ inputs.package-manager }}
          pnpm-version: ${{ inputs.pnpm-version }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          NODE_OPTIONS: ${{ inputs.node-options }}

      - name: Cache dependencies
        uses: AstrumU/shared-workflows/.github/actions/cache-dependencies@feature/KAN-259
        id: cache-dependencies
        with:
          package-manager: ${{ inputs.package-manager }}
          cache-version: ${{ inputs.cache-version }}
          lock-file: ${{ inputs.lock-file }}

      - name: Dependencies
        id: dependencies
        if: ${{ steps.cache-dependencies.outputs.cache-hit != 'true' }}
        run: ${{ inputs.package-manager }} install ${{ inputs.args }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          NODE_OPTIONS: ${{ inputs.node-options }}

      - name: Slack notify
        if: ${{ failure() && inputs.slack-notify == 'true' && steps.dependencies.conclusion == 'failure' }}
        # if: ${{ inputs.slack-notify == 'true' && steps.dependencies.result == 'failure' }}
        uses: AstrumU/shared-workflows/.github/actions/slack-notify@feature/KAN-259
        with:
          # job: ${{ github.job }}
          chanel-id: ${{ inputs.chanel-id }}
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
