on:
  workflow_call:
    inputs:
      nodeVersion:
        required: false
        type: string
        default: ".nvmrc"
      name:
        required: false
        type: string
      packageManager:
        type: string
        required: false
        default: yarn
      cacheVersion:
        type: string
        required: true
        default: v1
      pnpmVersion:
        type: string
        required: false
        default: 7
      nodeOptions:
        type: string
        required: false
        default: "--max_old_space_size=8192"
    secrets:
      NODE_AUTH_TOKEN:
        required: true

jobs:
  lint:
    runs-on: self-hosted

    steps:
      - uses: AstrumU/shared-workflows/setup@main
        name: Setup env
        with:
          nodeVersion: ${{ inputs.nodeVersion }}
          packageManager: ${{ inputs.packageManager }}
          pnpmVersion: ${{ inputs.pnpmVersion }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          NODE_OPTIONS: ${{ inputs.nodeOptions }}

      - uses: actions/cache@v3
        name: Cache
        if: inputs.packageManager == 'pnpm'
        with:
          path: ./*
          key: ${{ github.sha }}

      - uses: actions/cache@v3
        name: Cache
        if: inputs.packageManager == 'yarn'
        with:
          path: |
            packages/**/dist
            packages/**/tsconfig.tsbuildinfo
          key: ${{ github.sha }}

      - name: Lint
        run: ${{ inputs.packageManager }} lint
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          NODE_OPTIONS: ${{inputs.nodeOptions}}
