on:
  workflow_call:
    inputs:
      chanel-id:
        type: string
        required: false
        default: "chanel-for-test-notify"
    secrets:
      SLACK_BOT_TOKEN:
        required: false

jobs:
  slack-notify:
    runs-on: self-hosted
    steps:
      - name: Prepare Slack message
        id: status
        uses: actions/github-script@v6
        with:
          script: |
            ////////////////////////////////////
            // retrieve workflow run data
            ////////////////////////////////////

            console.log("get workflow run")
            const wf_run = await github.rest.actions.getWorkflowRun({
                owner: context.repo.owner,
                repo: context.repo.repo,
                run_id: ${{ github.run_id }}
            })
            console.log("get workflow run time")
            const run_time = await run_time.request('GET /repos/{owner}/{repo}/actions/runs/{run_id}/timing', {
                owner: context.repo.owner,
                repo: context.repo.repo,
                run_id: ${{ github.run_id }}
             })
            console.log(wf_run.data)
            console.log("get jobs for workflow run:", wf_run.data.jobs_url)
            const jobs_response = await github.request(wf_run.data.jobs_url)

            ////////////////////////////////////
            // build slack notification message
            ////////////////////////////////////

            // some utility functions
            var status_icon_func = function(s) {
                switch (s) {
                case "w_success":
                    return ":white_check_mark:"
                case "w_failure":
                    return ":no_entry:"
                case "w_cancelled":
                    return ":warning:"
                case "success":
                    return "\u2705"
                case "failure":
                    return "\u274C"
                default:
                    return "\u20e0"
                }
            }
            var status_text_func = function(s) {
                switch (s) {
                case "w_success":
                    return "Success"
                case "w_failure":
                    return "Failure"
                case "w_cancelled":
                    return "Warning"
                case "success":
                    return "Success"
                case "failure":
                    return "Failure"
                default:
                    return "\u20e0"
                }
            }

            // build the message
            var fields = []
            var is_wf_success = true
            var is_wf_failure = false
            for (j of jobs_response.data.jobs) {
                console.log(j.name, ":", j.status, j.conclusion, j.started_at, j.completed_at)
                // ignore the current job running this script
                if (j.status != "completed") {
                    continue
                }
                if (j.conclusion != "success") {
                  is_wf_success = false
                }
                if (j.conclusion == "failure") {
                  is_wf_failure = true
                }
                fields.push({
                    type: "mrkdwn",
                    text: status_icon_func(j.conclusion) + " <" + j.html_url + "|" + j.name + "> \n  \u21b3 " + status_text_func(j.conclusion)
                })
            }
            var workflow_status = "w_cancelled"
            if (is_wf_success) {
              workflow_status = "w_success"
            } else if (is_wf_failure) {
              workflow_status = "w_failure"
            }

            var slack_msg = {
                blocks: [
                    {
                        type: "section",
                        text: {
                            type: "mrkdwn",
                            text: "<https://github.com/${{ github.repository }}|*${{ github.repository }}*>"
                        }
                    },
                    {
                        type: "section",
                        text: {
                            type: "mrkdwn",
                            text: status_icon_func(workflow_status) + " *${{ github.workflow }}* " + "\nWorkflow run <" + wf_run.data.html_url + "|#${{ github.run_number }}> " + run_time
                        }
                    },
                    {
                        type: "divider"
                    },
                    {
                        type: "section",
                        fields: fields
                    }
                ]
            }
            return slack_msg

      - name: Send custom JSON data to Slack workflow
        if: success()
        uses: slackapi/slack-github-action@v1.23.0
        with:
          channel-id: ${{ inputs.chanel-id }}
          payload: ${{ steps.status.outputs.result }}
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
