on:
  workflow_call:
    inputs:
      node-version-file:
        required: false
        type: string
        default: ".nvmrc"
      package-manager:
        type: string
        required: false
        default: yarn
      cache-version:
        type: string
        required: false
        default: v1
      pnpm-version:
        type: string
        required: false
        default: 7
      node-options:
        type: string
        required: false
        default: "--max_old_space_size=8192"
      lock-file:
        type: string
        required: false
        default: "yarn.lock"
      app-layer:
        type: string
        required: true
      slack-notify:
        type: boolean
        required: false
        default: false
      chanel-id:
        type: string
        required: false
        default: "smoke-test-notifications"
    secrets:
      NODE_AUTH_TOKEN:
        required: true
      SLACK_BOT_TOKEN:
        required: false

jobs:
  test-unit:
    runs-on: self-hosted

    steps:
      - name: Setup env
        uses: AstrumU/shared-workflows/.github/actions/setup@main
        with:
          node-version-file: ${{ inputs.node-version-file }}
          package-manager: ${{ inputs.package-manager }}
          pnpm-version: ${{ inputs.pnpm-version }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          NODE_OPTIONS: ${{ inputs.node-options }}

      - name: Cache dependencies
        uses: AstrumU/shared-workflows/.github/actions/cache-dependencies@main
        with:
          package-manager: ${{ inputs.package-manager }}
          cache-version: ${{ inputs.cache-version }}
          lock-file: ${{ inputs.lock-file }}

      - name: Cache build
        uses: AstrumU/shared-workflows/.github/actions/cache-build@main
        with:
          package-manager: ${{ inputs.package-manager }}

      - name: Unit tests ${{ inputs.app-layer }}
        id: client-unit-test
        run: ${{ inputs.package-manager }} test:unit:${{ inputs.app-layer }} --ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          NODE_OPTIONS: ${{ inputs.node-options }}

      # - name: Slack notify
      #   if: failure() && (steps.client-unit-test.conclusion == 'failure' || inputs.slack-notify == 'true')
      #   uses: AstrumU/shared-workflows/.github/actions/slack-notify@main
      #   with:
      #     chanel-id: ${{ inputs.chanel-id }}
      #   env:
      #     SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
