on:
  workflow_call:
    inputs:
      node-version-file:
        required: false
        type: string
        default: ".nvmrc"
      package-manager:
        type: string
        required: false
        default: yarn
      cache-version:
        type: string
        required: false
        default: v1
      pnpm-version:
        type: string
        required: false
        default: 7
      node-options:
        type: string
        required: false
        default: "--max_old_space_size=8192"
      lock-file:
        type: string
        required: false
        default: "yarn.lock"
      client:
        type: string
        required: true
      slack-notify:
        type: boolean
        required: false
        default: false
      chanel-id:
        type: string
        required: false
        default: "smoke-test-notifications"
    secrets:
      NODE_AUTH_TOKEN:
        required: true
      SLACK_BOT_TOKEN:
        required: false

jobs:
  test-int-client:
    runs-on: self-hosted

    steps:
      - name: Setup env
        uses: AstrumU/shared-workflows/.github/actions/setup@main
        with:
          node-version-file: ${{ inputs.node-version-file }}
          package-manager: ${{ inputs.package-manager }}
          pnpm-version: ${{ inputs.pnpm-version }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          NODE_OPTIONS: ${{ inputs.node-options }}

      - name: Cache dependencies
        uses: AstrumU/shared-workflows/.github/actions/cache-dependencies@main
        with:
          package-manager: ${{ inputs.package-manager }}
          cache-version: ${{ inputs.cache-version }}
          lock-file: ${{ inputs.lock-file }}

      - name: Cache build
        uses: AstrumU/shared-workflows/.github/actions/cache-build@main
        with:
          package-manager: ${{ inputs.package-manager }}

      - name: Setup kernel for node native, increase watchers
        run: |
          echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && \
            sudo sysctl -p

      - name: Install system packs
        run: |
          sudo apt update
          sudo apt install -y libgtk2.0-0 libgtk-3-0 \
            libgbm-dev libgconf-2-4 libnss3 libxss1 \
            libasound2 libxtst6 xvfb

      - name: Install & verify Cypress
        run: |
          ${{ inputs.package-manager }} cypress install
          ${{ inputs.package-manager }} cypress verify
          ${{ inputs.package-manager }} cypress info
          ${{ inputs.package-manager }} cypress version
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          CI: 1

      - name: Test ${{ inputs.client }} client
        id: test-client
        uses: cypress-io/github-action@v2
        with:
          install: false
          command: ${{ inputs.package-manager }} test:int:client:${{ inputs.client }}
          cache-key: cypress-${{ github.sha }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          NODE_OPTIONS: ${{ inputs.node-options }}
          CYPRESS_defaultCommandTimeout: 8000
          TERM: xterm

      # - name: Slack notify
      #   if: failure() && (steps.test-client.conclusion == 'failure' || inputs.slack-notify == 'true')
      #   uses: AstrumU/shared-workflows/.github/actions/slack-notify@main
      #   with:
      #     chanel-id: ${{ inputs.chanel-id }}
      #   env:
      #     SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
