on:
  workflow_call:
    inputs:
      nodeVersion:
        required: true
        type: string
        default: ".nvmrc"
      name:
        required: false
        type: string
      packageManager:
        type: string
        required: false
        default: yarn
      cacheVersion:
        type: string
        required: false
        default: v11
      pnpmVersion:
        type: string
        required: false
        default: 7.13.3
      nodeOptions:
        type: string
        required: false
        default: --max_old_space_size=8192 
    secrets:
      natToken:
        required: true

jobs:
  test-unit-server:
    runs-on: self-hosted
    # needs: build

    steps:
      - uses: actions/checkout@v3
        name: Checkout

      - uses: AstrumU/shared-config/setup@feature/KAN-206
        name: setup env
        with:
          nodeVersion: ${{inputs.nodeVersion}}
          packageManager: ${{inputs.packageManager}}
          cacheVersion: ${{inputs.cacheVersion}}
          pnpmVersion: ${{inputs.pnpmVersion}}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.natToken }}
          NODE_OPTIONS: ${{ inputs.nodeOptions }}

      - uses: actions/cache@v3
        id: build-cache
        name: Restore build cache
        with:
          path: ./*
          key: ${{ github.sha }}

      # - uses: actions/cache@v3
      #   id: build-cache
      #   name: Restore build cache
      #   with:
      #     path: |
      #       packages/**/dist
      #       packages/**/tsconfig.tsbuildinfo
      #     key: ${{ github.sha }}

      - name: Unit tests server
        run: yarn test:unit:server --ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.natToken }}
          NODE_OPTIONS: ${{ inputs.nodeOptions }}

  test-unit-client:
    runs-on: self-hosted
    # needs: build

    steps:
      - uses: actions/checkout@v3
        name: Checkout

      - uses: AstrumU/shared-config/setup@feature/KAN-206
        name: setup env
        with:
          nodeVersion: ${{inputs.nodeVersion}}
          packageManager: ${{inputs.packageManager}}
          cacheVersion: ${{inputs.cacheVersion}}
          pnpmVersion: ${{inputs.pnpmVersion}}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.natToken }}
          NODE_OPTIONS: ${{ inputs.nodeOptions }}

      - uses: actions/cache@v3
        id: build-cache
        name: Restore build cache
        with:
          path: ./*
          key: ${{ github.sha }}

      # - uses: actions/cache@v3
      #   id: build-cache
      #   name: Restore build cache
      #   with:
      #     path: |
      #       packages/**/dist
      #       packages/**/tsconfig.tsbuildinfo
      #     key: ${{ github.sha }}

      - name: Unit tests client
        run: yarn test:unit:client --ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.natToken }}
          NODE_OPTIONS: ${{ inputs.nodeOptions }}

  test-int-client:
    runs-on: self-hosted
    # needs: build
    strategy:
      fail-fast: false
      matrix:
        client:
          - skillset
          - toolkit-mba

    name: test-int-client-${{ matrix.client }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup kernel for node native, increase watchers
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - name: Install system packs
        run: |
          sudo apt update
          sudo apt install -y libgtk2.0-0 libgtk-3-0 libgbm-dev libgconf-2-4 libnss3 libxss1 libasound2 libxtst6 xvfb

      - uses: AstrumU/shared-config/setup@feature/KAN-206
        name: setup env
        with:
          nodeVersion: ${{inputs.nodeVersion}}
          packageManager: ${{inputs.packageManager}}
          cacheVersion: ${{inputs.cacheVersion}}
          pnpmVersion: ${{inputs.pnpmVersion}}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.natToken }}
          NODE_OPTIONS: ${{ inputs.nodeOptions }}

      - uses: actions/cache@v3
        id: build-cache
        name: Restore build cache
        with:
          path: ./*
          key: ${{ github.sha }} 

      # - name: Restore build cache
      #   uses: actions/cache@v3
      #   id: build-cache
      #   with:
      #     path: |
      #       packages/**/dist
      #       packages/**/tsconfig.tsbuildinfo
      #     key: ${{ github.sha }}

      - name: Install & verify Cypress
        run: |
          yarn cypress install
          yarn cypress verify
          yarn cypress info
          yarn cypress version
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
          CI: 1

      - name: Test ${{ matrix.client }} client
        uses: cypress-io/github-action@v2
        with:
          install: false
          command: yarn test:int:client:${{ matrix.client }}
          cache-key: cypress-${{ github.sha }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.natToken }}
          NODE_OPTIONS: ${{ inputs.nodeOptions }}
          CYPRESS_defaultCommandTimeout: 8000
          TERM: xterm
